.custom-search-form input[type="search"] {
  background-color: #27293d !important;
  border: 1px solid #27293d;
  color: #ced4da !important;

  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  font-size: 1rem;
}

.custom-search-form input[type="search"]::placeholder {
  color: #ced4da;
  opacity: 1;
}

.custom-search-form input[type="search"]:not(:placeholder-shown) {
  color: #ced4da !important;
}

.custom-search-form input[type="search"]:focus {
  border: 2px solid #ced4da;
  outline: none;
}

.custom-search-form .bi-search {
  color: #ced4da !important;
  transition: color 0.3s ease;
}

.custom-search-form small {
  font-size: 0.875rem;
  position: absolute;
  top: 105%;
  left: 1rem;
  color: #dc3545;
}

.custom-table {
  background-color: #27293d !important;
  color: #ced4da !important;
  border-collapse: collapse;
}

.custom-table thead th {
  background-color: #31334e !important;
  color: #ced4da !important;
  border-bottom: none !important;
  padding: 10px;
  border-radius: 5px;

  transition: background-color 0.2s ease;
}

.custom-table thead th:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.custom-table thead th i {
  font-size: 1rem;
  transition: color 0.2s ease;
  color: #fc5888 !important;
}

.custom-table thead th:hover i {
  color: #ebd4db !important;
}

.custom-table tbody tr td {
  background-color: #27293d !important;
  color: #ced4da;
  border-bottom: none !important;
  padding: 10px;
}

.list-wrapper {
  background-color: #27293d;
  padding: 1rem;
}

.pagination .page-item .page-link {
  background-color: #ced4da;
  border: 5px solid #27293d;
  border-radius: 3px;
  color: #222222;
  font-weight: 500;
}

.pagination .page-item.active .page-link {
  background-color: #373958;
  color: white;
}

.pagination .page-item .page-link:hover {
  background-color: #fc5888;
  color: white;
  cursor: pointer;
}
