<nav class="navbar navbar-expand-lg shadow-sm w-100 nav-bg mb-5">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 p-2 me-5 ms-2" href="#">Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active fs-5 p-2 me-4 ms-2"
            routerLink="/list-country"
            >COUNTRY</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 p-2 ms-2" routerLink="/list-university"
            >UNIVERSITY</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
